/*
 * CSS
 * - 기초 문법
 * - 레이아웃
 */


html {}
body {
  margin: 0;
  background: #eee;
}

header {
  display: flex;
}

section {
  text-align: center;
}
h1 {
  flex: 1;
  text-align: center;
  margin: 0;
}
h2 {
  font-size: 18px;
  margin: 0;
}
p {
  font-size: 28px;
}
a {
  color: royalblue;
}


.box {
  padding: 28px 0 280px;
  margin-bottom: 15px;
}

.theme-dark {
  background-color: black;
  color: white;
}

.theme-light {
  background-color: white;
}

/* Description */
.desc {
  font-size: 14px;
}

/* Section Heading */
.section-title {
  font-size: 28px;
}

.menu {
  display: flex;

  justify-content: center;
  /*
   * justify-content
   * - flex layout의 속성 중 하나
   * - 컨텐츠를 중앙으로 정렬 할 수 있다.
   * - text-align:center는 사용하면 안된다. Why? flex 범주이기 때문에
   */
  overflow-y: hidden;
  overflow-x: scroll;
}

.menu > h2 {
  display: none;
}

.menu a {
  min-width: 180px;
  padding: 54px 0 20px;
}
